logging:
  level: INFO
  loggers:
    shapedirection: DEBUG

server:
  applicationConnectors:
    - type: http
      port: 61484
  adminConnectors:
    - type: http
      port: 61485

logging:
  level: INFO
  loggers:
    "org.bitcoinj.core.PeerGroup": WARN
    "org.bitcoinj.net.discovery.MultiplexingDiscovery": ERROR
    "org.bitcoinj.net.ConnectionHandler": ERROR
    "org.bitcoinj.net.NioClientManager": ERROR
    "org.bitcoinj.core.PeerSocketHandler": ERROR
    "org.bitcoinj.core.Peer": ERROR

network: testnet
testWallet: "abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon abandon about"
maxPeersToDiscover: 100
maxConnections: 10
