<!DOCTYPE html>
<html lang="en">
<head>
  <title>CryptoPutty</title>
</head>
<body>
<h1>CryptoPutty</h1>
<p>A basic UI to interact with CryptoPutty.</p>
<ul>
  <li><a href="/peers">peers</a></li>
</ul>
</body>
</html>
